.form {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.form label {
    display: block;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    height: 40px;
}

.form button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
}