.dishes-item {
    border: 1px solid #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-description {
    display: flex;
    align-items: center;
}

.dishes-description img {
    width: 200px;
    height: 150px;
}

.dishes-actions {
    display: flex;
    align-items: center;
}